################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareVersionManager.slnx/FileContentIndex/3fe96671-30c8-4fea-beb2-3e270d0b9e5f.vsidx
/.vs/SoftwareVersionManager.slnx/FileContentIndex
